<div class="container" ng-controller="CsrGenerationController">

	<div class="row">
		<div class="col-md-5">

			<h2>CSR Options</h2>


			<h3>Private Keys</h3>
			<ul class="unordered-content-list">
				<li ng-repeat="private_key in private_keys" ng-click="privateKeySelected(private_key)" ng-class="{sel: $index == selected}" ng-model="private_key">
					<a>
						{{ private_key }}
					</a>
				</li>
			</ul>

			<label for="isEncrypted">Selected private key is encrypted</label>
			<input type="checkbox" ng-model="isEncrypted" id="isEncrypted" ngTrueValue="True" ngTrueValue="False">

			<h3 id="csrLabel">Certificate Signing Request</h3>
			<textarea id="csrTextArea"rows="16" cols="40" disabled>{{ csr }}</textarea>

			<button id="csrGenerationButton"type="button" class="btn btn-primary buffer-margin-top" ng-click="generateCsr(commonName, organization, organizationalUnit, city, state, country, email, private_key, passphrase, isEncrypted, csrFilename)">Generate CSR</button>

			<div class="alert alert-success buffer-margin-top confirmation_message" ng-show="showSuccessAlert">
			   <strong>CSR Generated!</strong> 
			</div>


			<div class="alert alert-danger buffer-margin-top confirmation_message" ng-show="showErrorAlert">
			   <strong>{{ errorMessage }}</strong> 
			</div>

		</div>



		<div class="col-md-4 second_column far_right_col">

			<h3>Common Name (CN)</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="commonName">

			<h3>Organization (O)</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="organization">

			<h3>Organizational Unit (OU)</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="organizationalUnit">

			<h3>City</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="city">

			<h3>State</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="state">

			<h3>Country</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="country">

			<h3>Email</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="email">

			<h3>Passphrase</h3>
			<input class="form-control" ng-disabled="!private_key_selected || !isEncrypted" ng-model="passphrase" type="password">

			<h3>CSR File Name</h3>
			<input class="form-control" ng-disabled="!private_key_selected" ng-model="csrFilename">
			

		</div>


	</div>

</div>
