<div class="container" ng-controller="CsrGenerationController">

	<div class="row">
		<div class="col-md-5">

			<h2>Trust Store Options</h2>

			<h3>Trust Stores</h3>
			<ul class="unordered-content-list"></ul>

			<label>Alias</label>
			<input class="form-control">

			<label>Passphrase</label>
			<input class="form-control" type="password">

			<label>Public Certificate</label>
			<textarea cols="60" rows="16"></textarea>

			<button class="btn btn-primary">Add Public Certificate</button>
		</div>
	</div>
</div>