<div class="container" ng-controller="TruststoreConfigurationController">

	<div class="row">
		<div class="col-md-5">

			<h2>Trust Store Options</h2>

			<h3>Trust Stores</h3>
			<ul class="unordered-content-list"></ul>

			<h3>Alias</h3>
			<input class="form-control">

			<h3>Passphrase</h3>
			<input class="form-control" type="password">

			<h3>Public Certificate</h3>
			<textarea cols="60" rows="13"></textarea>

			<button class="btn btn-primary">Add Public Certificate</button>
		</div>
	</div>
</div>