<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/js/controllers/keypairGenerationController.js"></script>
		<script src="static/js/services/keypairGenerationService.js"></script>
		<script src="static/js/controllers/csrGenerationController.js"></script>
		<script src="static/js/services/csrGenerationService.js"></script>
		<script src="static/js/controllers/truststoreConfigurationController.js"></script>
		<script src="static/js/services/truststoreConfigurationService.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="static/css/styles.css"></link>
		<link rel="shortcut icon" href="">
	</head>
	<body ng-app="EasyKeyzApp">

		<div class="container">

			<div class="row>">
				<div class="col-md-3">
					<ul class="nav option_menu">
						<li><a href="#keypairGeneration">Private Key Generation</a></li>
						<li><a href="#csrGeneration">CSR Generation</a></li>
						<li><a href="#truststoreConfiguration">Trust Store Configuration</a></li>
					</ul>
				</div>

				<div ng-view></div>
			</div>

		</div>

	</body>
</html>