.buffer-margin-top {
	margin-top: 10px;
}

input.buffer-margin-right {
	margin-right: 5px;
}

label.buffer-margin-right {
	margin-right: 5px;
}

.col-md-3 {
	margin-top: 10%;
}

.unordered-content-list {
	border: 1px solid black;
	list-style-type: none;
	overflow: auto;
	width: inherit;
	padding-left: 0;
}

a {
	display: block;
	text-decoration: none;
}

ul.option_menu {
	width: 84%;
	margin-right: 0px;
}

.sel {
	background:#c3effd;
	color:#000;
	width: 100%;
}

ul {
    float: left;
    height: 250px;
}

li {
    display: inline-block;
    margin: 0px auto 0px auto;
    cursor: pointer;
    cursor: hand;
    width: 100%
}

.second_column {
	margin-top: 52px;
	margin-left: -18%;
}


#csrGenerationButton {
	margin-top: 19%;
    margin-left: -67%;
}

.confirmation_message {
	width: 42%;
}

.far_right_col {
	position: absolute;
	right: 12px;
}

#csrLabel {
	display: block;
	margin-top: 61%;
}

#csrTextArea {
	margin-top: 1%;
}
